body{
    background-color: rgb(88, 27, 203);
}

/*---------------- FACE ----------------*/
.smile {     
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background: rgb(255, 196, 0);
    height: 300px;
    width:200px;
    border-radius: 50%  50%;
    border-right: rgb(140, 107, 0) 100px solid;
    box-shadow: 100px 0 0 -20px rgb(51, 16, 117);
    transform: translateY(0px);
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%{
        transform: translateX(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*--------------- LEFT EYE ----------------*/
.smile > .eye1 {
    position: absolute;
    background: rgb(86, 66, 0);
    height:30px;
    width:25px;
    border-radius: 50%;
    border-right:rgb(52, 39, 0) 5px solid;
    left: 20%;
    top: 30%;
}
.smile > .eye1 > .light1 {
    background: white;
    height:5px;
    width:5px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 35%;
    
}

/*--------------- RIGHT EYE ----------------*/
.smile > .eye2 {
    position: absolute;
    background: rgb(86, 66, 0);
    height:30px;
    width:25px;
    border-radius: 50%;
    border-right:rgb(52, 39, 0) 5px solid;
    left: 65%;
    top: 30%;
}
.smile > .eye2 > .light2 {
    background: white;
    height:5px;
    width:5px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 35%;
    
}

/*--------------- MOUTH ----------------*/
.mouth {
    position: relative;
    height:75px;
    width:150px;
    background:rgb(49, 38, 0);
    border-radius: 0 0px 50px 50px;
    margin-left:15%;
    top: 45%;
}
.mouth > .teeth1 {
    position: absolute;
    height: 15px;
    width:20%;
    background: white;
    border-right: 5px solid #ccc;
}
.mouth > .teeth2 {
    position: absolute;
    height:15px;
    width: 60%;
    background-color: white;
    border-right:5px solid #ccc;
    align-items: right;
    left: 55px;
}